<h1>Cost Nothing</h1>
<h2>Anything on internet which cost nothing is not really not free..</h2>

<form>
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Your name..">

  <label for="email">Email</label>
  <input type="text" id="email" name="email" placeholder="Your email..">

  <label for="country">Country</label>
  <select id="country" name="country">
    <option value="australia">Australia</option>
    <option value="canada">Canada</option>
    <option value="usa">USA</option>
  </select>

  <label for="subject">Subject</label>
  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

  <input type="submit" value="Submit">
</form>